__pycache__/
**/.vscode/*
**/.DS_Store
**/data/**
scratch/*
.eggs/*
voxelmorph.egg-info/*
voxelmorph_group.egg-info/*
wandb/*
models/*
jobScripts/*
results/*
model/*
matlab/tools
.neptune
jobscripts/*
outputs/*
multirun/*
notebooks/test_rpca/*
**/.ipynb_checkpoints/*
**.log